<div class="flex items-center justify-center min-h-screen bg-gray-100">
    <div
        class="block p-6 bg-white border border-gray-200 rounded-lg shadow-sm hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700 w-full md:w-1/2 lg:w-1/2 mt-6">
        <form [formGroup]="turfForm" class="mx-auto space-y-6" (ngSubmit)="onSubmit()">
            <div>
                <label for="turfName" class="input-label">Turf Name</label>
                <input type="text" id="turfName" formControlName="turfName" class="form-input-field"
                    placeholder="Enter turf name" required />
            </div>
            <div>
                <label for="turfLocation" class="input-label">Location</label>
                <input type="text" id="turfLocation" formControlName="turfLocation" class="form-input-field"
                    placeholder="Enter location" required />
            </div>
            <div>
                <label for="turf-games" class="input-label">Games</label>
                <select id="turf-games" formControlName="turfGames" class="form-input-field" multiple>
                    <option value="cricket">Cricket</option>
                    <option value="football">Football</option>
                    <option value="badminton">Badminton</option>
                    <option value="volleyball">Volleyball</option>
                    <option value="tableTennis">Table Tennis</option>
                </select>
            </div>
            <div>
                <label for="mobileNumber" class="input-label">Mobile Number</label>
                <input type="tel" id="mobileNumber" formControlName="mobileNumber" class="form-input-field"
                    placeholder="Enter mobile number" required />
            </div>

            <div class="flex flex-col md:flex-row gap-4">
                <div class="flex-1">
                    <label for="openingTime" class="input-label">Opening Time</label>
                    <input type="time" id="openingTime" formControlName="openingTime" class="form-input-field"
                        required />
                </div>
                <div class="flex-1">
                    <label for="closingTime" class="input-label">Closing Time</label>
                    <input type="time" id="closingTime" formControlName="closingTime" class="form-input-field"
                        required />
                </div>
            </div>

            <div>
                <label for="email" class="input-label">Email</label>
                <input type="email" id="email" formControlName="email" class="form-input-field"
                    placeholder="name@example.com" required />
            </div>

            <div>
                <label for="password" class="input-label">Password</label>
                <input type="password" id="password" formControlName="password" class="form-input-field" required />
            </div>
            <button type="submit" class="float-end primary-btn w-full"> Submit </button>
        </form>
    </div>