<div class="flex gap-6">
    <p-card [style]="{ width: '25rem', overflow: 'hidden' }">
        <ng-template #header>
            <img alt="Card" class="w-full" src="https://primefaces.org/cdn/primeng/images/card-ng.jpg" />
        </ng-template>
        <ng-template #title> {{turfData.turf_name}} </ng-template>
        <ng-template #subtitle> {{turfData.turf_address}} </ng-template>
        <p> {{turfData.mobile_number}} </p>
        <p> {{turfData.turf_types}} </p>
        <p> {{turfData.opening_time}} - {{turfData.closing_time}} </p>
        <ng-template #footer>
            <div class="flex gap-4 mt-1">
                <p-button label="Cancel" severity="secondary" class="w-full" [outlined]="true" styleClass="w-full" />
                <p-button label="Save" class="w-full" styleClass="w-full" />
            </div>
        </ng-template>
    </p-card>

    <p-card [style]="{ width: '25rem', overflow: 'hidden' }">
        @for (gameType of gamesData; track $index) {
        <p> <b> {{gameType.turf_types}}</b></p>
        @for (games of gameType.items; track $index) {
        <li>{{games.label}}</li>

        }
        }
    </p-card>

</div>