.input-label {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 0.875rem;
  font-weight: 500;
  color: #111827;

  &.dark {
    color: #f9fafb;
  }
}

.form-input-field {
  background-color: #f9fafb;
  border: 1px solid #d1d5db;
  color: #111827;
  font-size: 0.875rem;
  border-radius: 0.5rem;
  width: 100%;
  padding: 0.625rem;

  &:focus {
    outline: none;
    box-shadow: 0 0 0 2px #3b82f6;
    border-color: #3b82f6;
  }

  &.dark {
    background-color: #374151;
    border-color: #4b5563;
    color: #f9fafb;
    placeholder-color: #9ca3af;

    &:focus {
      box-shadow: 0 0 0 2px #3b82f6;
      border-color: #3b82f6;
    }
  }
}
.primary-btn {
  color: #ffffff;
  background-color: #1d4ed8;
  &:hover {
    background-color: #1e40af;
  }
  &:focus {
    outline: none;
    box-shadow: 0 0 0 4px #93c5fd;
  }
  font-weight: 500;
  border-radius: 0.5rem;
  font-size: 0.875rem;
  width: 100%;
  @media (min-width: 640px) {
    width: auto;
  }
  padding: 0.625rem 1.25rem;
  text-align: center;

  &.dark {
    background-color: #2563eb;
    &:hover {
      background-color: #1e3a8a;
    }
    &:focus {
      box-shadow: 0 0 0 4px #1e40af;
    }
  }
}
